.weatherWidgetContent{
    height: 100%;
    width: 100%;
    background-image: url(https://source.unsplash.com/600x600/?berlin);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weatherWidgetContent .icon{
    font-size: 5rem;
    line-height: 1
}
.weatherWidgetContent .icon{
    font-size: 5rem;
    line-height: 1;
}
.weatherWidgetContent .temperature{
    font-size: 3rem;
}
.weatherWidgetContent .temperature-2{
    font-size: 175%;
    line-height: 1.75rem;
}
.weatherWidgetContent div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
}
